<div class="tcy">
  <div class="tcy-full">
    {{ section.name }} ({{ section.energy() }}) <span ng-click="section.new()" class="glyphicon glyphicon-plus"></span>
    <span ng-click="section.template()" class="glyphicon glyphicon-cutlery"></span>
  </div>
  <div>
    <table align="center">
      <tr class="row form-inline" ng-repeat="food in section.foods">
        <td>
          <span ng-click="section.duplicate(food)" class="glyphicon glyphicon-camera"></span>
        </td>
        <td style="padding-bottom:7px; alight:left" >
          <input class="form-control" type="time" ng-model="food.start_time" />
        </td>
        <td style="padding-bottom:7px; alight:left" >
          <input class="form-control" type="text" ng-model="food.description" placeholder="description" />
        </td> 
        <td style="padding-bottom:7px; alight:left" >
          <div class="form-group has-feedback">
            <input ng-model="food.unit_energy" class="form-control" type="text" placeholder="energy" />
            <span class="glyphicon glyphicon-fire form-control-feedback" ng-click="food.convert()"></span>
          </div>
        </td>
        <td style="padding-bottom:7px; alight:left" >
          <input class="form-control" type="text" ng-model="food.quantity" placeholder="quantity" />
        </td>
        <td style="align: left">
          {{food.totalEnergy()}}
        </td>
        <td>
          <span ng-click="section.remove(food)" class="glyphicon glyphicon-remove"></span>
        </td>
        <td>
          <autocomplete ng-model="result" attr-placeholder="type to search movies..." click-activation="true" data="movies" on-type="doSomething" on-select="doSomethingElse"></autocomplete>
        </td>
      </tr>
    </table>
  </div>
</div>
