<div class="modal" style="height:500px"><div class="modal-dialog"><div class="modal-content">
	<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-star"></span> Food Attributes</h4>
	</div>
	<div class="modal-body">
		<ng-form name="foodAttributesDialog" novalidate role="form">
		<div class="form-group input-group-lg" ng-class="{true: 'has-error'}[foodAttributesDialog.caffeine.$dirty && foodAttributesDialog.caffeine.$invalid]">
			<label class="control-label" for="caffeine">Caffeine:</label>
			<input type="text" class="form-control" name="caffeine" id="caffeine" ng-model="foodAttributes.caffeine" ng-keyup="hitEnter($event)" required>
			<span class="help-block">Coffee coffee coffee.</span>
		</div>
		</ng-form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="(foodAttributesDialog.$dirty && foodAttributesDialog.$invalid) || nameDialog.$pristine">Save</button>
	</div>
</div></div></div>